* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

.todo-app {
  width: 80vw;
  margin: 0 auto;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #343a40;
  font-weight: 500;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  /* border-radius: 30px; */
  padding: 20px;
  margin-bottom: 25px;
  gap: 2rem;
}

input {
  border: none;
  outline: none;
  background: transparent;
  color: #343a40;
  padding: 12px;
  font-size: 1.2rem;
  border: 1px solid #555;
}

button {
  width: 30%;
  border: none;
  outline: none;
  padding: 10px;
  padding-right: 12px;
  background: #6050dc;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

ul li {
  list-style: none;
  font-size: 1rem;
  padding: 15px;
  user-select: none;
  cursor: pointer;
  background: #f7f7f7;
  margin-bottom: 1rem;
  position: relative;
}

ul li:hover{
  background: #e7f3f6;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #555;
  line-height: 40px;
  text-align: center;
}

span:hover {
  color: #6050dc;
}

